@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  font-family: 'Space Mono', monospace;
  color: #06396b;
  background-color: #5cdb94;
  margin: 0;
}

h1 {
  font-family: 'Koulen', cursive;
}

a {
  text-decoration: none;
}

i {
  text-decoration: none;
  color: #06396b;
}

a:hover {
  background-color: #5cdb94;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

 i {
  text-decoration: none;
 }

.list-inline {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  }

.container {
  width: 700px;   /* This sets the width */
  margin: 50px auto 0 auto; /* This automatically sets left/right margins */
}

.container-bottom {
  background-color: #5cdb94;
  padding: 20px;
  text-align: center;
}

.card {
  margin: 20px  0;
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  border-bottom: 5px solid;
  border-right: solid;
  box-shadow: 0 10px 10px rgba(0,0,0,.3)
}

.content {
  border-radius: 8px;
  border-bottom: 5px solid;
  border-right: solid;
}

.img-border {
  border-style: solid 1px #06396b;
}
.nav-bar {
  text-align: center;
  background: rgb(92,219,148, 0.9);
  width: 100%;
  padding: 10px 0;
  height: 20px;
}

.nav-bar-item {
  color: white;
  display: block;
}

.nav-bar-item:hover {
  color: #06396b;
  border-bottom-style: solid;
}

.sticky {
  position: fixed;
  top: 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:#06396b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
}

input[type=submit]:hover {
  width: 100%;
  background-color:#5cdb94;
  color: #06396b;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#profile-pic {
  border-radius: 25px;
  width: 50%;
  height: 50%;
}

#query, textarea {
  height: 150px;
  resize: none;
  text-align: left;
  overflow-wrap: break-word;
}
